.blog_item {
    width: 352px;
}

.blog_item_main {
    width: 100%;
    height: 297px;
    padding-top: 17px;
    padding-left: 14px;
}

.blog_item_category {
    width: fit-content;
    height: fit-content;
    padding: 6px 16px;
    background-color: var(--neutrals-2);
    border-radius: 100px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--neutrals-8);
}

.blog_item_about {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.blog_item_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutrals-2);
}

.blog_item_author {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.blog_item_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--neutrals-6);
    font-size: 14px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.blog_item_date {
    padding-left: 32px;
    background: url("/images/calendar3.png") no-repeat;
}

.blog_item_views {
    padding-left: 32px;
    background: url("/images/views.png") no-repeat;
}
