.tip_card {
    width: 352px;
}

.tip_card_main {
    width: 100%;
    height: 320px;
    padding-top: 16px;
}

.tip_card_like {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 16px;
    background-color: var(--neutrals-8);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip_card_more {
    display: none;
    width: 131px;
    margin: 88px auto 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--neutrals-8);
    border-radius: 90px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--neutrals-2);
}

.tip_card_title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutrals-2);
}

.tip_card_desc {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.tip_card_date {
    margin-top: 8px;
    padding-left: 32px;
    background: url("/images/calendar2.png") no-repeat;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.tip_card_main:hover {
    .tip_card_more {
        display: block;
    }
}