.header {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 160px;
    padding-right: 159px;
}

.header-nav {
    list-style-type: none;
    gap: 32px;
}

.header-nav-item {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: var(--neutrals-4);

    a {
        color: var(--neutrals-4);

        &:hover {
            color: var(--primary-1);
        }
    }
}

.header-actions {
    gap: 16px;
}

.header-login,
.header-sign {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 12px 16px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.header-login {
    background-color: var(--neutrals-6);
    color: var(--neutrals-2);
}

.header-sign {
    background-color: var(--primary-1);
    color: var(--neutrals-8);
}