.item {
    width: 640px;
    display: flex;

    >div:nth-child(2) {
        width: 460px;
        margin-top: 8px;
    }
}

.day {
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    margin-right: 24px;
    padding: 8px 22px;
    background-color: var(--neutrals-7);
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutrals-1);
}

.desc {
    width: 460px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutrals-4);
}

.action {
    display: block;
    align-self: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.d_n {
    display: none;
}
